header {
margin: 0px auto;    
height: 60px; 
display: block;
padding: 15px;
border-bottom: 1px solid rgb(228, 228, 228);
}   

header .menu {
background: transparent;
border: 0;
outline: 0;
cursor: pointer;
display: block;
}

header .menu img {
display: none;
}

header .search {
display: none;
}

header .bag {
display: none;
}

header #header-logo {
margin-top: -8px;
}

header #header-menu {
margin-top: 10px;
display: block;
border: 0;
outline: 0;
}